[submodule "francium-sigma"]
	path = francium-sigma
	url = https://github.com/Wolfyre243/francium-sigma/tree/main
[submodule "francium-chat"]
	path = francium-chat
	url = https://github.com/Wolfyre243/francium-chat